<div style="text-align: center;" class="content">
  <h1>Welcome to {{ title }}!</h1>

  <div style="display: flex; justify-content: center;">
    <ng-container *ngIf="userOb | async; else needLogin">
      <button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #needLogin>
      <button (click)="login('metamask')">Login with Metamask</button>
      <button (click)="login('walletconnect')">
        Login with WalletConnect
      </button>
    </ng-template>
  </div>
</div>
